@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #f97316; /* orange-500 */
}

body {
  @apply bg-gray-900 text-gray-100;
}

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
  width: 0px;
  height: 0px;
  background: transparent;
}
